.container{
  margin-top: 2rem;
}
.buttonGroup{
  margin-top: .5em;
  width: 70%;
  font-size: 20px;
}

.buttonContainer {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.samples{
  width: 60%;
  margin-bottom: 1em;
  font-size: 20px;
}

.pageLabel{
  margin: 0;
  text-align: center;
}

.label{
  margin-top: .5em;
  font-size: 20px;
  color: black;
}