.panel {
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-flow: column;
}

.header {
  flex: auto;
  background: #007BFF;
  border-radius: 10px 10px 0 0;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  
}

.content {
 
  flex:  auto;
  overflow: auto;
}

@media only screen and (max-width: 830px) {

  .header {
    font-size: 50px;
  }
}


@media only screen and (max-width: 515px) {

  .header {
    font-size: 35px;
  }
}

@media only screen and (max-width: 375px) {

  .header {
    font-size: 25px;
  }
}